<!DOCTYPE html>
{% extends "GestorTareasApp/base.html" %}

{% block content %}

    <aside id="barraLateral" class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
          <a href="{% url 'Nueva_Tarea'%}">Nueva tarea</a>
          <a href="#">Editar tarea</a>
          <a href="#">Completar tarea</a>
          <a href="#">Eliminar tarea</a>
      </div>

    </aside>
    <section id="seccionprincipal">
      N&uacute;mero de tareas totales: {{datos|length}}
      <table id="tabla_tareas">
        <tr>
          {% for key in claves %}
          <th>{{key}}</th>
          {% endfor %}
        </tr>
        {% for item in datos %}
        <tr>
          {% for value in item.values %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        
      </table>
    </section>
    
{% endblock %}