<!DOCTYPE html>
{% extends "GestorTareasApp/base.html" %}

{% block content %}


    <section id="seccionprincipal">
      N&uacute;mero de tareas totales: {{datos|length}}
      <table id="tabla_tareas">
        <tr>
          {% for key in claves %}
          <th>{{key}}</th>
          {% endfor %}
        </tr>
        {% for item in datos %}
        <tr>
          {% for value in item.values %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        
      </table>
    </section>
    
{% endblock %}