<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <!--Hojas de estilo, JS externos e internos, iconos para la barra del título, el título, etiquetas meta...-->
    <meta charset="iso-8559-1"/>  <!--Estilo de caracteres que van a ir en la página-->
    <meta name="description" content="Pagina de gestion de tareas"/>
    <meta name="keywords" content="tareas, gestion, cierre, pendiente"/>

    <title>Listado de tareas</title>
    <link href="{% static 'GestorTareasApp/gestion.css' %}" rel="stylesheet" /> <!--Es la llamada a rel(a qué llama) en href(ruta donde lo busca)-->

    
  </head>

  <body>
    <header id="cabecera">
      <h1>Lista de tareas</h1>
      <p>En esta tabla se muestran todas las tareas de todos los proyectos:</p>
    </header>

    <nav id="navegacionprincipal">
      <div class="topnav">
        <a href="{% url 'Tareas'%}">Todas las tareas</a>
        <a href="pendientes">Tareas pendientes</a>
        <a href="realizadas">Tareas realizadas</a>
        <a href="monitor" style="float:right" class="active">Monitor</a>
      </div>
    </nav>

    <aside>
    </aside>

    <section id="seccionprincipal">
      <table id="tabla_tareas">
        <tr>
          <th>Código tarea</th>
          <th>Título</th>
          <th>Proyecto</th>
        </tr>
        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>        <tr>
          <td>T1</td>
          <td>Comer chuches</td>
          <td>Django</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Comer cacahuetes</td>
          <td>SpringBoot</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Comer palomitas</td>
          <td>Django</td>
        </tr>
        
      </table>
    </section>
    

  </body>
</html>